body {
	font-family: sans-serif;
}

#pokemon-list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

h5 {
	text-align: left;
}

.pokemon {
	padding: 10px;
	margin: 5px;
	text-align: center;
}

img {
	position: relative;
	float: left;
	margin: 5px;
	background-color: antiquewhite;
}

/* CSS styles for different types */
.grass p {
	background-color: #7ac74c;
}

.fire p {
	background-color: #fd7d24;
}

.normal p {
	background-color: #a8a77a;
}

.water p {
	background-color: #4592c4;
}

.bug p {
	background-color: #729f3f;
}

.poison p {
	background-color: #b97fc9;
}

.ground p {
	background-color: #e2bf65;
}

.electric p {
	background-color: #eed535;
}

.fairy p {
	background-color: #fdb9e9;
}

.fighting p {
	background-color: #d56723;
}

.psychic p {
	background-color: #f366b9;
}

.rock p {
	background-color: #a38c21;
}

.ghost p {
	background-color: #7b62a3;
}

.ice p {
	background-color: #96d9d6;
}

.dragon p {
	background-color: #53a4cf;
}

p {
	border-radius: 5px;
	text-align: center;
	padding: 3px 5px;
	max-width: fit-content;
}
